/* Chrome, Edge, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* IE / Edge old */
.scrollbar-hide {
  -ms-overflow-style: none;
}
