@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.rotate {
  display: inline-block;
  transform-origin: center center;
  width: 24px;
  height: 24px;
  animation: rotate360 0.4s ease-in-out;
}

@media screen and (max-width: 767px) {
  .bussearch-container {
    bottom: 0px;
  }
}