.scroll-text {
    animation: scrollUp 3s linear infinite;
}
@keyframes scrollUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
.color-classes {
    border: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgb(237, 98, 19),
    rgb(237, 19, 150),
    rgb(141, 50, 233)
  ) 1;
  border-radius: 16px;
}